<% if (theme.socialLink.github) { %>
    <a href="<%= theme.socialLink.github %>" class="tooltipped" target="_blank" data-tooltip="·ÃÎÊÎÒµÄGitHub" data-position="top" data-delay="50">
        <i class="fab fa-github"></i>
    </a>
<% } %>